@page
@model PortfolioWebApp.Areas.Admin.Pages.SimplePages.IndexModel
@{
    ViewData["Title"] = "Simple Pages";
}      
    <div class="row">
        <div class="col">
            <partial name="_StatusMessage" for="StatusMessage" />
            @if (!Model.IsHomePageSetUp)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> You don't have a custom <b>Home</b> page set up. System will use default until you add a page with a name <b>"Home"</b>!
</div>
            }
            @if (!Model.IsContactPageSetUp)
            {
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> You don't have a custom <b>Contact</b> page set up. System will use default until you add a page with a name <b>"Contact"</b>!
                </div>
            }
            <div class="pb-3 float-right">
                <a asp-page="/SimplePages/Add" asp-area="Admin" class="btn btn-primary" role="button" aria-pressed="true">Add New</a>
            </div>
        </div>

            
    </div>
    

    <div class="col-md-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Custom Url</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.SimplePages.Count; i++)
                {
                    <tr>
                        <th scope="row">@Model.SimplePages[i].Id</th>
                        <td>@Model.SimplePages[i].Title</td>
                        <td>@(Model.SimplePages[i].CustomUrl == null ? "None" : Model.SimplePages[i].CustomUrl)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="/SPage/@(Model.SimplePages[i].CustomUrl == null ? Model.SimplePages[i].Id + "-" + Model.SimplePages[i].Title : Model.SimplePages[i].CustomUrl)">View</a>
                                    <a class="dropdown-item" asp-page="/SimplePages/Edit" asp-area="Admin" asp-route-id="@Model.SimplePages[i].Id">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" asp-page="/SimplePages/Delete" asp-area="Admin" asp-route-id="@Model.SimplePages[i].Id">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
