@page
@model PortfolioWebApp.Areas.Admin.Pages.MyProjects.IndexModel
@{
    ViewData["Title"] = "My Projects";
}

    <div class="row">
        <div class="col">
            <div class="alert alert-info" role="alert">
                <b>Info:</b> Path to view projects in Portfolio is "/MyProjects"
            </div>
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="pb-3 float-right">
                <a asp-page="/MyProjects/Add" asp-area="Admin" class="btn btn-primary" role="button" aria-pressed="true">Add New</a>
            </div>
        </div>


    </div>

    <div class="col-md-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Repository State</th>
                    <th scope="col">Repository Url</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MyProjects.Count; i++)
                {
                    <tr>
                        <th scope="row">@Model.MyProjects[i].Id</th>
                        <td>@Model.MyProjects[i].Title</td>
                        <td>@(Model.MyProjects[i].IsRepositoryPrivate ? "Private" : "Public")</td>
                        <td>@(Model.MyProjects[i].RepositoryUrl == null ? "None" : Model.MyProjects[i].RepositoryUrl)</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" target="_blank" href="/MyProjects/View/@(Model.MyProjects[i].Id + "-" + Model.MyProjects[i].Title)">View</a>
                                    <a class="dropdown-item" asp-page="/MyProjects/Edit" asp-area="Admin" asp-route-id="@Model.MyProjects[i].Id">Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" asp-page="/MyProjects/Delete" asp-area="Admin" asp-route-id="@Model.MyProjects[i].Id">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
